# Set the value for these keys and copy to .env file
# NOTE: never commit the .env file
# --------------- DEV
DEBUG=on/off
SECRET_KEY=random-string
DATABASE_URL=sqlite:////usr/src/app/db.sqlite3
HOST_URL=localhost
CORS_ORIGIN_WHITELIST=http://localhost:8000
